@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/*current media query 2560x1440 TODO:queries*/

:root{
    --yellow: #DBDB93;
    --red: #DBA993;
    --white: #FAFAFA;
    --primaryGrey: #474747;
    --darkerGrey: #3F3F3F;
    --lighterGrey:  #707070;
    --backdropGrey: #323232;
}

a { 
    color: inherit!important;
    text-decoration: inherit!important; 
} 

#background-wrapper{
    position: absolute;
            top: 0px;
            left: 0px; /* Gap left */
            right: 0px; /* Gap right */
            bottom: 0px;
    background-color: var(--darkerGrey);
}

#next-arrow{
    cursor: pointer;
}

#animation-canvas{ 
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0 1.25em 2em;
    border-radius: 1.4em;
}


#logo-container{
    background-color: var(--backdropGrey)!important;
    border-radius: 4em 0 0 4em;
}

#buoy-logo-img{
    margin-left: -4em;
}

#logotype{
    position: absolute;
    font-size: 7.3em;
    font-weight: bold;
    font-family: "Roboto";
    color: var(--yellow);
    letter-spacing: -.13em;
    margin-left: .1em;
    padding: 0px;
    bottom: 0.05em;
}


#timestamp-wrapper{
    width:90%;
}

#timestamp{
    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    background-color: var(--white);
    
}

.language-links{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    line-height: .99em;
    color: var(--white);
    padding: .1em;
}

.language-links:hover{
    color: var(--yellow);
    animation-name: right-after-hover
}

.socials-wrapper{
   width: 100%;
   margin-top: 10px;
}

.socials{
    width: 35px
 }

#github-social{
    width: 25px;
    margin-left: 1%;
}

.divider{
    min-height:.6em;
    background-color: var(--white);
}

#download-text{
    background-color: var(--backdropGrey);
    color: var(--white);
    font-size: 3em;
    font-family: "Roboto Condensed";
    
}

#download-buttons{
    background-color: var(--yellow);
    border-radius: 3em;
    margin-left: -20px;
    }

#win{
    padding-top: 4%;
    width: 70%;
}

#mac{ 
    width: 63%;
}

.doc-language{
    color: var(--yellow)!important;
}

.doc-language:hover{
    color: var(--red)!important;
}

#description-wrapper{
    margin-right: 6%;
}

#next-button-wrapper{
    margin-left: -80px;
}

@keyframes right-after-hover{
    /*TODO:*/
}